{% extends 'main.html' %}
{% load bootstrap5 %}
{% block title %}Rejestracja{% endblock %}

{% block strona %}

        <div class="contact d-flex justify-content-center ">
              <div class="p-5 text-center">
                <h2><i class="fa-solid fa-user"></i> Zarejestruj się</h2>
                <section class="py-5">
                  <form method="post">
                    {% csrf_token %}
                      <div class="form-group mb-4 ">
                        <div class="row d-flex align-items-center">
                          <div class="col">
                            <label class="form-label">Login</label>
                          </div>
                          <div class="col">
                            {{ form.username }}
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-4">
                        <div class="row d-flex align-items-center">
                          <div class="col">
                            <label class="form-label">Hasło</label>
                          </div>
                          <div class="col">
                            {{ form.password1 }}
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-4">
                        <div class="row d-flex align-items-center">
                          <div class="col">
                            <label class="form-label">Powtórz hasło</label>
                          </div>
                          <div class="col">
                            {{ form.password2 }}
                          </div>
                        </div>
                      </div>


                      <div class="mt-3 py-5">
                         {% buttons %}
                            <button type="sumbit" class="btn btn-primary">Zapisz</button>
                         {% endbuttons %}
                      </div>
                      <br>
                      <p>Masz już konto? <a class="my-color" href="{% url 'login' %}">Zaloguj się</a></p>
                  </form>
                </section>
              </div>
        </div>

 {% endblock %}